.footer{
    background-color: rgba(241, 90, 34, 1);
    height: 550px;
}
.footer-i{
     display: flex;
    gap: 135px;
    margin-left: 20%;
    color: white;
    
}
.footer-i h2{
    margin-top: 50px;
}
.footer-i ul{
    margin-top: 20px;
}
.footer-i li{
    list-style-type: none;
    margin-top: 10px;
}
.footer-social-icons{
    margin-top: 70px;
    margin-left: 70%;
    display: flex;
}
.footer-social-icons img{
    height: 2rem;
    margin-left: 30px;
}
.newsletter{
    color: white;
    display: flex;
    margin-left: 35%;
    margin-top: 50px;
}

.search{
    display: flex;
    background-color: white;
    /* width: 200px; */
    height: 40px;
    margin-left: 40px;
    border-radius: 10px;
}

.search input{
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}



.search button{
    background-color: green;
    color: white;
    width: 90px;
    border-radius: 12px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    border: none;
    font-weight: 600;
}

.pick{
    margin-left: 28%;
    color: white;
    margin-top: 70px;
}
.pick h1{
    margin-bottom: 12px;
    font-weight: 400;
}
.pick p{
    margin-left: 55px;
}

.div-class{
    display: flex;
    margin-left: 355px;
}
.pick img{
    height: 2.5rem;
    margin-right: 10px;
}
.pick-f{
display: flex;
}

.div-class{
    margin-top: 20px;
}

.contact{
    display: flex;
    margin-left: 40%;
    margin-top: 80px;
    color: white;
    gap: 20px;
}
.contact img{
    height: 1.3rem;
    margin-right: -15px;
}


@media (max-width: 900px) {
  .footer-i {
    gap: 20px;
  }

  .div-class{
    display: flex;
    
  }

  .footer-i h2 {
    font-size: 20px;
  }

  .footer-i li {
    font-size: 14px;
  }

  .footer-social-icons {
    /* margin-top: 20px; */
    gap: 20px;
  }

  .newsletter {
    display: none;
  }

  .search {
    width: 100%;
    margin: 0;
  }

  .pick {
    display: none;
  }

  .div-class {
    margin: 0;
  }

  .contact {
    margin: 100px auto;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
  }

  .footer-i {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-left: 20px;
  }

  .footer-i h2{
    font-size: 13px;
    margin-bottom: -5PX;
  }

  .footer-i li{
    font-size: 10px;
  }

  .footer-social-icons {
    /* margin-top: 100px; */
    margin-left: 40px;
    justify-content: center;
  }

  .newsletter{
    display: none;
  }

  .newsletter {
    font-size: 10px;
    flex-direction: column;
    margin-top: 20px;
  }


  .pick-f{
    display: none;
  }

  .pick p {
    display: none;
  }

  .contact {
    /* margin-top: 20px; */
    font-size: 13px;
  }
  .contact img{
    height: 12px;
  }
}

