.footer{
    background-color: rgba(241, 90, 34, 1);
    height: 550px;
}
.footer-i{
     display: flex;
    gap: 135px;
    margin-left: 20%;
    color: white;
    
}
.footer-i h2{
    margin-top: 50px;
}
.footer-i ul{
    margin-top: 20px;
}
.footer-i li{
    list-style-type: none;
    margin-top: 10px;
}
.footer-social-icons{
    margin-top: 70px;
    margin-left: 70%;
    display: flex;
}
.footer-social-icons img{
    height: 2rem;
    margin-left: 30px;
}
.newsletter{
    color: white;
    display: flex;
    margin-left: 35%;
    margin-top: 50px;
}

.search{
    display: flex;
    background-color: white;
    /* width: 200px; */
    height: 40px;
    margin-left: 40px;
    border-radius: 10px;
}

.search input{
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}



.search button{
    background-color: green;
    color: white;
    width: 90px;
    border-radius: 12px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    border: none;
    font-weight: 600;
}

.pick{
    margin-left: 28%;
    color: white;
    margin-top: 70px;
}
.pick h1{
    margin-bottom: 12px;
    font-weight: 400;
}
.pick p{
    margin-left: 55px;
}

.div-class{
    display: flex;
    margin-left: 355px;
}
.pick img{
    height: 2.5rem;
    margin-right: 10px;
}
.pick-f{
display: flex;
}

.div-class{
    margin-top: 20px;
}

.contact{
    display: flex;
    margin-left: 40%;
    margin-top: 80px;
    color: white;
    gap: 20px;
}
.contact img{
    height: 1.3rem;
    margin-right: -15px;
}


  @media (max-width: 900px) {
    .footer h2 {
        font-size: 20px;
    }

    .footer-i li{
        font-size: 12px;
    }
  
    .footer-i {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 35px;
      margin-left: 20px;
    }
  
    .footer-social-icons {
      /* margin-top: 20px; */
    }
    .div-class{
        gap: 170px;
    }
  
    .newsletter {
      flex-direction: column;
      /* margin-left: 0; */
      align-items: center;
      gap: 10px;
    }
  
    .newsletter .search {
      /* margin-left: 0; */
      
    }
  
    .pick {
      margin-left: 0;
      text-align: center;
    }
  
    .div-class {
      margin-left: 0;
    }
  
    .contact {
      margin-left: 0;
      justify-content: center;
    }
  }
  
  /* @media (max-width: 480px) {
    .footer {
      padding: 10px;
    }
  
    .footer-i {
      flex-direction: column;
      gap: 10px;
    }
  
    .footer-social-icons {
      margin-top: 10px;
    }
  
    .newsletter {
      flex-direction: column;
      margin-top: 20px;
    }
  
    .search {
      width: 100%;
    }
  
    .pick {
      margin-top: 30px;
    }
  
    .contact {
      margin-top: 30px;
    }
  } */

